<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Advertising Agency</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                @Html.Action("PagesMenuPartial", "Pages")
                <!--If the user is logged in-->
                @if (Request.IsAuthenticated)
                {
                    <li> @Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "navbar-text", style = "text-decoration: none" })</li>
                }
                else
                {
                    //If an unauthorized user is on the login page, the link is active
                    //Если неавторизованный пользователь находится на странице login, ссылка активна
                    if (ViewBag.Title == "Login")
                    {
                        <li class="nav-item">  @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "nav-link", style = "text-decoration: none" }) </li>
                    }
                    //If an unauthorized user is on any other page, the link is not active
                    //Если неавторизованный пользователь находится на любой другой странице, ссылка не активна
                    else
                    {
                        <li class="nav-item"> @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "navbar-text", style = "text-decoration: none" }) </li>
                    }
                }

                @if (Request.IsAuthenticated)
                {
                    <li> @Html.Action("UserNavPartial", "Account", new { area = "" }) </li>
                }
            </ul>
            <span class="navbar-text">
                @Html.Action("CartPartial", "Cart")
            </span>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">

            <div class="col-sm-12 col-md-3 list-group">
                @Html.Action("CategoryMenuPartial", "Agency")
            </div>

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col">
                    @RenderBody()
                </div>

                <div class="col-sm-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div class="col">
                    @RenderBody()
                </div>
            }
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Advertising agency "LUBOTECH ADVERTS"</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
